/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    font-family: "Jost", sans-serif;
}

/* Estilos da Seção Hero */
#hero {
    background: center / cover no-repeat url('../../assets/big-wallpaper.svg');
}

h1 {
    margin-top: 10px;
}


#destaques {
    margin-top: -145px;
    background-color: #A798B8;
}

#beneficios {
    background-color: #F2F2F2;
}
